@charset "UTF-8";
/* CSS Document */
body a {
  text-decoration: none;
  color: white;
}
html{
  height: 100%;
}
body{
  height: 100%;
  font-family:"Microsoft Yahei";
}
hr{
  width: 100% !important;
  margin-left: 0 !important;
}
/*首页*/
.bigboxa {
  margin: 0 auto;
  width: 1500px;
  height: 780px;
  border: 1px solid white;
  
  background-repeat: no-repeat;
  background-size: contain;
}
.header ul li {
  list-style-type: none;
  float: left;
  color: white;
  font-size: 24px;
  margin-right: 110px;
}
.header ul li:hover {
  color: black;
}
.header {
  height: 180px;
  margin-left: 160px;
  margin-top: 60px;
}
.side1 {
  width: 50px;
  height:665px;
  background-image: url("../images/pic4.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: -150px;
  left: 1300px;
}
.side1 .p1 {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: -80px;
  left: -10px;
}
.side1 .p2 {
  font-size: 72px;
  position: relative;
  left: -480px;
  top: 180px;
  width: 500px;
}
.side1 .p3 {
  font-size: 28px;
  position: relative;
  left: -460px;
  top: 150px;
  width: 500px;
  color: gray;
}
.side1 .p4 {
  background-image: url("../images/pic5.png");
  background-repeat: no-repeat;
  background-size: auto;
  width: 250px;
  height: 100px;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  position: relative;
  left: -400px;
  top: 230px;
}
.side1 .p4 a:hover {
  color: rgba(59, 147, 217, 1.00);
}
.side1 .imga {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/pic6.png");
  position: relative;
  left:80px;
}
.side1 .imga:hover {
  background-image: url("../images/pic7.png");
}
.side1 .imgb {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/pic8.png");
  position: relative;
  left: 85px;
}
.side1 .imgb:hover {
  background-image: url("../images/pic9.png");
}
.side1 .imgc {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/pic10.png");
  position: relative;
  left: 85px;
}
.side1 .imgc:hover {
  background-image: url("../images/pic11.png");
}

/*首页*/
/*design*/
.bigboxb {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid white;
  background-image: url("../images/design/资源\ 00.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header1 ul li {
  list-style-type: none;
  float: left;
  color: white;
  font-size: 24px;
  margin-right: 90px;
}
.header1 ul li:hover {
  color:#2F73D6;
}
.header1 {
  height: 120px;
  margin-left: 760px;
  margin-top: 60px;
}
.ll{
  width:30%;
  float: left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mmain1 {
  width: 100%;
  height: 260px;

}
.mmain1 img {
  position: relative;
  top: -115px;
  left: 10px;
}
.mmain1 .pp1 {
  font-size: 24px;
  color: white;
  margin-left: 60px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
}
.mmain2 {
  width: 100%;
}
.mmain2 p {
  margin-left: 10px;
  font-size: 18px;
  color: white;
  margin-right: 20px;
  padding: 5% 5% 10% 5%;
}
.mmain1 .pp1:hover {
  color: black;
}
.mmain3 {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/profile/rbg2.png");
  background-size: 100% 100%;
  margin-left: 3%;
  width: 62%;
  float:left;
  box-shadow: 0 0 20px 20px #9e9d9d4d;
  margin-bottom: 5%;
  margin-top: 30px;
}
.mmain3 img{
  padding: 5px;
}
.mmain3 h1 {

  color: #F79B1E;
  width:100%;
}
.mmain3 .pp2 {
  font-size: 15px;
  width:100%;
}
.mmain3 .pp3 {
  font-size: 15px;
  width: 100%;
}
.mmain4{
  margin-top: 30px;
}
.mmain4 p{
  float: left;
  width: 30% !important;

}
.mmain4 .imga {
  margin-top: -10px;
  margin-left: 8%;
  width: 30%;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/pic9.png");
}
.mmain4 .imga:hover {
  background-image: url("../images/pic8.png");
}
.mmain4 .imgb {
  margin-top: -10px;
  width: 30%;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/pic7.png");
}
.mmain4 .imgb:hover {
  background-image: url("../images/pic6.png");
}
.mmain4 .imgc {
  margin-top: -10px;
  width: 30%;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/pic11.png");
}
.mmain4 .imgc:hover {
  background-image: url("../images/pic10.png");
}
/*design*/
/*vis*/
.mmain1 .imgd {
  position: relative;
  top: -230px;
  left: 10px;
}
.bigboxc {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid white;
  background-image: url("../images/vis/资源8.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/*vis*/
/*visual*/
.bigboxd {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  overflow: auto;
  background-image: url("../images/visual/资源\ 10.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mmain1 .imge {
  position: relative;
  top: -170px;
  left: 10px;
}
.mmmain3 {
  position: relative;
  top: -550px;
  left: 540px;
  margin-top: 90px;
  height: 680px;
  width: 900px;
}
.mmmain3 h1 {
  color: #703EDD;
}
.mmmain3 .pp2 {
  font-size: 18px;
  width: 410px;
  position: relative;
  top: -270px;
  left: 450px;
}
.mmmain3 .pp3 {
  font-size: 18px;
  width: 410px;
  position: relative;
  top: -220px;
  left: 450px;
}
.mmain4 a {
  width: 100px;
}
/*visual*/
/*inter*/
.bigboxf {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid white;
  background-image: url("../images/ingame/资源\ 02.png ");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mmain1 .imgf {
  position: relative;
  top: -65px;
  left: 10px;
}
.b2 {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  z-index: 1000;
}
.extra1 {
  width: 100%;
  border: 1px solid white;
  height: 1010px;
}
.extra1 h1 {
  color: #68B675;
}
.imgg1 {
  width: 100%;
}
.imgg2 {
  width: 100%;
}
.imgg2 .pp5 {
  width: 100%;
}
.imgg3 {
  width: 100%;
}
.imgg3 .pp5 {
  width: 100%;
  font-size: 14px;
}
.imgg4 {
  width: 100%;
}
.imgg4 .pp5 {
  font-size: 14px;
}
/*inter*/
/*contact*/
.bigboxe {
  margin: 0 auto;
  width: 1500px;
  height: 900px;
  border: 1px solid white;
  
}
.contact1 {
  float: left;
  width: 30%;
  height:100%;
  margin-left: 5%;
  text-align: center;
  background-image: url("../images/资源\ 41.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  }
.contact1 .pp6 {
  margin-left: -60px;
  width: 200px;
}
.contact1 .pp7 {
  color: grey;
}
.contact2 h1 {
  color: white;
}
.contact2 p {
  color: white;
  margin-top: 30px;
}
.contact2 img {
  width: 30%;
  margin-top: 20px;
  margin-left: 60%;
}
.contact3 img {
  width: 50px;
  margin-top: -300px;
  margin-left: 780px;
}
.header2 ul li {
  list-style-type: none;
  float: left;
  color: white;
  font-size: 24px;
  margin-right: 90px;
}
.header2 ul li:hover {
  color: #2F73D6;
}
.header2 {
  height: 120px;
  margin-left: 760px;
  margin-top: 60px;
}
/*contact*/
/*profile1*/
.bigboxz {
  margin: 0 auto;
  width: 1500px;
  height: 850px;
  border: 1px solid white;
  background-image: url("../images/tpic5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.mmmainn {
  width: 885px;
  height: 630px;
  margin-left: 532px;
}
.b3 {
  width: 885px;
  height: 650px;
  position: absolute;
  z-index: 1000;
}
.pro1 .pp8 {
  width: 300px;
  font-size: 42px;
  margin-top: -350px;
  margin-left: 150px;
}
.pro1 .pp9 {
  width: 300px;
  font-size: 24px;
  color: gray;
  margin-left: 200px;
  margin-top: -20px;
}
.pro1 .pp10 {
  width: 300px;
  color: white;
  font-size: 20px;
  margin-top: 110px;
  margin-left: 80px;
}
.c1 {
  width: 100%;
  height: 1800px;
}

.d1 {
  font-size: 40px;
  margin-left: 30px;
  margin-top: 30px;
}
.d2 {
  font-size: 22px;
  margin-left: 30px;
  margin-top: 50px;
}
.d3 {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 12px;
}
.d4 {
  background-image: url("../images/资源 3.png");
  width: 300px;
  height: 140px;
  margin-left: 57%;
  margin-top: -190px;
}
.d3 a {
  color: #808080;
}
.d55 {
  margin-top: 50px;
  margin-left: 30px;
}
.d56 {
  margin-top: 50px;
  margin-left: 30px;
}
.d6 table {
  border: solid 1px   #ADD8E6;
  margin-left: 30px;
  margin-top: 30px;
}
.d6 td {
  width: 213px;
  text-align: center;
	 font-size: 13px;
}
.d7 table {
  border: solid 1px   #ADD8E6;
  margin-left: 30px;
  margin-top: 30px;
}
.d7 td {
  width: 213px;
  font-size: 13px;
  text-align: center;
}
.mmainz {
  z-index: 100;
}
.mmainz .imga {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/pic7.png");
  position: relative;
  left: 120px;
  top: -40px;
}
.mmainz .imga:hover {
  background-image: url("../images/pic6.png");
}
.mmainz .imgb {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/pic9.png");
  position: relative;
  top: -98px;
  left: 240px;
}
.mmainz .imgb:hover {
  background-image: url("../images/pic8.png");
}
.mmainz .imgc {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/pic11.png");
  position: relative;
  top: -150px;
  left: 360px;
}
.mmainz .imgc:hover {
  background-image: url("../images/pic10.png");
}
/*profile1*/
/*connect*/
.bigboxy {
  margin: 0 auto;
  border: 1px solid white;
  background-image: url("../images/pic36.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header3 ul li {
  list-style-type: none;
  float: left;
  color: black;
  font-size: 24px;

  margin-right: 90px;
}
.header3 ul li:hover {
  color: #2483C6;
}
.header3 {
  height: 80px;
  margin-left: 760px;
  margin-top: 60px;
}
#container {
  position: relative;
 width: 1200px;
  height: 800px;;

  overflow: hidden;
}
#list {
  position: absolute;
  z-index: 1;
  width: 8400px;
  height: 800px;
}
#list img {
  float: left;
  width: 1200px;
  height: 800px;
}
#buttons {
  position: absolute;
  left: 550px;
  bottom: 20px;
  z-index: 2;
  height: 10px;
  width: 100px;
}
#buttons span {
  float: left;
  margin-right: 8px;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}
#buttons .on {
  background: orangered;
}
.arrow {
  position: absolute;
  top: 180px;
  z-index: 2;
 
  width: 40px;
  height: 40px;
  font-size: 36px;
  font-weight: bold;
  line-height: 39px;
  text-align: center;
  color: #fff;
  background-color: RGBA(0, 0, 0, 0);
	 background-image: url("../images/pic37.png");
    background-repeat: no-repeat;
    background-size: contain;
  cursor: pointer;
}
.arrow:hover {
  background-image: url("../images/pic39.png");
	
}

.arrow1 {
  position: absolute;
  top: 190px;
  z-index: 2;
 
  width: 50px;
  height: 50px;
  font-size: 36px;
  font-weight: bold;
  line-height: 39px;
  text-align: center;
  color: #fff;
  background-color: RGBA(0, 0, 0, 0);
	 background-image: url("../images/pic38.png");
    background-repeat: no-repeat;
    background-size: contain;
  cursor: pointer;
}
.arrow1:hover {
  background-image: url("../images/pic40.png");
	
}
#prev {
  left: 25px;
	top: 350px;
}
#next {
  right: -2px;
	top: 350px;
}
.aa{
margin-left: 150px;
	position: relative;
	top:-50px;

}
/*connect*/
/**/
.mmainz .imgb {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/pic9.png");
  position: relative;
  top: -98px;
  left: 240px;
}
.mmainz .imgb:hover {
  background-image: url("../images/pic8.png");
}
.extraa .imga{
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/contact图标/qq.png");
  }
  .extraa .imga:hover {
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/contact图标/qq1.png");
  }
  .extraa .imgb{
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/contact图标/behance1.png");
  
  }
  .extraa .imgb:hover {
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/contact图标/behance.png");
  }
  .extraa .imgc{
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/contact图标/微信1.png");
  }
  .extraa .imgc:hover {
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/contact图标/微信.png");
  }
  .extraa .imgd{
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/contact图标/微博1.png");
  
  }
  .extraa .imgd:hover {
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/contact图标/微博.png");
  }
  .extraa .imge{
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/contact图标/推特_twitter431.png");
  }
  .extraa .imge:hover {
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/contact图标/推特_twitter43.png");
  }
  .extraa{
  width:100%;
  height: 30px;
  }
  .extraa a{
  height: 10px;
  width: 100px;
  float: left;
  }
.v{
  width: 95%;
  top: 30px;
  margin: auto;
}
.v video{
	width: 100%;
}
.abc{
  z-index:-1;
  position: absolute;
 
}
@media(min-width:1081px){
  
  .header2 {
      width:45%;
      margin:40px 3% 0 auto;
      height: 64px !important;
  }
  .header2 ul li {
      width:25%;
      margin:0;
  }
}
@media(max-width:1080px){
  .header2 {
      width:50%;
      margin:40px 0 0 auto;
      height:64px;
      text-align: end;
  }
  .header2 ul li {
      width:25%;
      margin:0;
  }
}
@media(max-width:991px){
  .header2 {
      width: 65%;
      margin: 40px 0 0 auto;
      text-align: end;
      height: 64px;
  }
}